.slide {
  position: center;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
  margin-top: 0px;
  
  background-size: contain;
  background-color: #ececec;
  
}
.slide-inner {
  position: relative;
  overflow: hidden;
  width: 100%;  
  height: calc( 260px + 0em);
}
.slide-open:checked + .slide-item {
  position: static;
  opacity: 100;
}
.slide-item {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
  margin-top: 40px;
  margin-left: 80px;
}
.slide-item img {
  display: block;
  height: 100%;
  width: 100%;
  margin-left: auto;
  margin-top: 18px;
  margin-right: 118px;
  
  max-width: 50%;
  
}
.slide-control {
  background:  #1696c493;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 40px;
  height: 40px;
  line-height: 35px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  cursor: pointer;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-align: center;
  width: 40px;
  z-index: 10;
}
.slide-control.prev {
  left: 2%;
}
.slide-control.next {
  right: 2%;
}
.slide-control:hover {
  background:  #1696c4c5;
  color: #ffffff;
}
#slide-1:checked ~ .control-1,
#slide-2:checked ~ .control-2,
#slide-3:checked ~ .control-3 {
  display: block;
}
.slide-indicador {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}
.slide-indicador li {
  display: inline-block;
  margin: 0 5px;
}
.slide-circulo {
  color: #828282;
  cursor: pointer;
  display: block;
  font-size: 35px;
}
.slide-circulo:hover {
  color:  #1696c4c5;
}
#slide-1:checked ~ .control-1 ~ .slide-indicador 
   li:nth-child(1) .slide-circulo,
#slide-2:checked ~ .control-2 ~ .slide-indicador 
    li:nth-child(2) .slide-circulo,
#slide-3:checked ~ .control-3 ~ .slide-indicador 
    li:nth-child(3) .slide-circulo {
  color: #428bca;
}
@media screen and (min-width: 600px) {
  .slide-inner {
    position: relative;
    overflow: hidden;
    width: 100%;  
    height: calc( 500px + 0em);
}
.slide-item {
  
  margin-left: auto;
  padding-right: 20%;
}
}