
.contact{
    grid-template-columns: 50% 50%;
    align-items: center;
    
    display: grid;
    background-color: #1696C4;
    margin-top: 06px;
    
    
}

.text1creausu{
    display: grid;
}
.imagecanalescontacto{
    display: grid;
   
    background-size: contain;

}

.textcontact{
    margin-left:40px;
    color: #ffffff;
}
.input-box{
    border-radius: 10px;
    padding: 10px;
    width: 100%;
}
.contact-form {
    display: flex;
    align-self: center;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-right: 20%;
}

.margin{
    margin: 10px;
}
.button-submit {
    width: 100%;
    border-radius: 10px;
    font-size:16px;
    background-color: rgba(173, 216, 230, 0);
    border-style: none;
    border: 5px;
    padding: 3px;
    color: #eeeeee ;
}
.contact-submit{
    display: flex;
    justify-content: center;
}

#miDiv {
    display: grid;
    width: 300px; 
    height: 200px; 
    align-items: center;
    margin-left: 5%;
  }
  
  #miDiv img {
    width: 50%; 
    height: 50%; 
    object-fit: cover; 
  }

@media(min-width:600px){
    .input-box{
        border-radius: 10px;
        padding: 10px;
        width: 100%;
    }
    .button-submit{
        width: 100%;
        margin-left: 30px;
    }
}